doms-module#search-box
    style: :clean-css
    template
        iron-icon(icon="search")
        input#searchInput(value="{{query}}")
    script: :uglify-js:babel
        Polymer({
            is: "search-box",
            properties: {
               query: {type: String},
               focused: {type: Boolean, readOnly: true, notifies: true}
            },
        })
