doms-module#search-box
    style: :clean-css
    template
        paper-card
            iron-icon(icon="search")
            input(is="iron-input", value="{{query}}")
    script: :uglify-js:babel
        Polymer({
            is: "search-box",
            properties: {
               query: {type: String},
               focused: {type: Boolean, readOnly: true, notifys: true}
            },
            listeners: {
                ""
            }
        })