dom-module#search-box
    style: :clean-css
        #searchInput {
            width: 75%;
            margin: 5px 5px 5px 24px;
            border: none;
        }
    template
        paper-card(elevation="[[elevation]]")
            iron-icon(icon="search")
            input#searchInput(value="{{query}}")
    script: :uglify-js:babel
        Polymer({
            is: "search-box",
            properties: {
               query: {type: String},
               focused: {type: Boolean, readOnly: true, notifies: true}
            },
        })
