dom-module#sidebar-content
    style: :clean-css
    template
        template(is="dom-repeat", items="[[menuItems]]")
            paper-icon-item
                iron-icon(icon="[[item.icon]]")
                a(href="[[item.link]]") [[item.text]]
        template(is="dom-repeat", items="[[playlists]]")
            paper-icon-item
                iron-icon(icon="[[item.icon]]")
                a(href="[[item.link]]") [[item.text]]
        template(is="dom-repeat", items="[[subscriptions]")
            paper-icon-item
                iron-icon(icon="[[item.icon]]")
                a(href="[[item.link]]") [[item.text]]
    script: :uglify-js:babel
        Polymer({
            is: "sidebar-content",
            properties: {
                menuItems: {type: Array, value: [
                    {icon: "home", text: "Home", link: "/home"},
                    {icon: "person", text: "My Channel", link: "/my-channel"},
                    {icon: "social:whatshot", text: "Trending", link: "/trending"},
                    {icon: "av:subscription", text: "Subscriptions", link: "/subscriptions"},
                    {icon: "hourglass-empty", text: "History", link: "/history"},
                    {icon: "watch-late", text: "Watch Later", link: "/watch-later"}
                ]},
                playlists: {type: Array, value: [
                    {icon: "av:playlist-play", text: "Random1", link:"/random1"},
                    {icon: "av:playlist-play", text: "Random2", link:"/random2"},
                    {icon: "thumb-up", text: "Liked Videos", link:"/like-videos"},
                ]},
                subscriptions: {type: Array, value: [
                    {img: "/assets/logo.png", text: "PhillyD", link:"/PhillyD", number: 4},
                    {img: "/assets/logo.png", text: "DankMemes", link:"/DankMemes", number: 12},
                    {img: "/assets/logo.png", text: "Blackness", link:"/Blackness", number: 74},
                ]},
            },
        })