mixin PolymerImport(el,sub)
    link(rel="import",href="/assets/"+el+"/"+(sub||el)+".html")
mixin MyComponent(el)
    link(rel="import",href="/Get-Component/"+el)

doctype html
html
    head
        title Online Polling App - RU Edition
        +PolymerImport("iron-icons")
        +PolymerImport("iron-icons","av-icons")
        +PolymerImport("iron-icons","social-icons")
        +PolymerImport("iron-icon")
        +PolymerImport("iron-flex-layout","iron-flex-layout-classes")
        +PolymerImport("paper-item","paper-icon-item")
        +PolymerImport("paper-card")
        +PolymerImport("paper-button")
        +PolymerImport("paper-toolbar")
        +PolymerImport("paper-icon-button")
        +PolymerImport("paper-header-panel")
        +PolymerImport("paper-drawer-panel")
        +PolymerImport("highcharts-chart")
        //- Custom Fetches
        +PolymerImport("paper-search")
        +MyComponent("sidebar-content")
        link(rel="stylesheet",href='/assets/gmail-scrollbar.css')
        script(src='/socket.io/socket.io.js')
        style: :clean-css
            html,body,head {margin:0;border:0;padding:0;font-family: Roboto}
    body.fullbleed
        style(is="custom-style",include="iron-flex iron-flex-factors iron-flex-alignment iron-positioning")
        style: :clean-css
            body {background-color: #252526/*#f1f1f1*/}
            main {padding: 1em}
            #toolbar {background-color: #0D0F0F}
            paper-button {background-color: #2196F3 !important;color: white}
            img {display:block}
            #Search #input {background-color: transparent;color:inherit}
        style(is="custom-style"): :clean-css
            paper-drawer-panel {--paper-drawer-panel-left-drawer-container: {background-color: #1f1d1d}}
            #navShadow {position:absolute;height:100%;right:0}
            #logo {width: 9em}
            #logo[thin] {width: 2.75em;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
            #Search {min-width:17em;width:90%;max-width: 29em;margin:auto;background-color: rgba(255,255,255,.14);color:white}
            #Search {--background-color: transparent}
            sidebar-content {overflow: auto}
        template#app(is="dom-bind")
            paper-header-panel(type="waterfall")
                paper-toolbar#toolbar
                    .flex.layout.horizontal.center
                        paper-icon-button(hidden$="[[!thin]]",icon="[[ternary(openMenu,'arrow-back','menu')]]",on-tap="toggleSidebar")
                        img#logo(thin$="[[thin]]",src="/assets/[[ternary(thin,'octopus','logo')]]_white.png")
                    .flex-6(hidden$="[[thin]]")
                        paper-search-bar#Search
                    .flex.justify-end.layout.horizontal
                        .flex
                        span [[users]]
                        iron-icon(icon="social:person")
                paper-drawer-panel#drawer(narrow="{{thin}}",selected="{{panel}}")
                    nav(drawer)
                        sidebar-content.fit
                        #navShadow
                    main.fit.layout-vertical.around-justified(main)
                        block content
            dummy-listener(prop="[[setPanelState(thin,panel)]]")
            iron-ajax(auto,url="/api/Get-Trending",last-response="{{trending}}")
        script: :uglify-js:babel
            var t = document.querySelector("#app")
            t.io = io()
            t.openMenu = false
            t.ternary = (a,b,c) => a?b:c
            t.users = 0
            t.sendChoice = e => {t.io.emit("poll_choice",e.model.item)}
            t.setPanelState = (n,p) => {t.openMenu = n&&p=="drawer"}
            t.toggleSidebar = _ => t.$.drawer.togglePanel()
        block script
